:root {
  --main-font: 'OpenSans', sans-serif;
  --field-font-size: 20px;
  --field-background-color: #ece9e9;
  --field-color: #000;
  --record-background-color: #fff;
  --record-color: #000000b5;
  --record-border-color: #000000b5;
  --record-border-width: 1px;
  --record-border-style: solid;
  --record-border-radius: 5px;
  --record-spacing: 10px;
  --header-background-color: #fff;
  --outlines: #ccc;
  --field-inline-size: 150px;
}

@media (max-width: 768px) {
  :root {
    --field-inline-size: 75px;
  }
} 

@media (max-width: 1440px) {
  :root {
    --field-inline-size: 75px;
  }
}