.recordContainer {
  display: flex;
  padding: 0 1rem;
  block-size: 50px;
  inline-size: auto;
  border: var(--outlines) 1px solid;
  border-radius: 15px;
  gap: var(--record-gap);
  cursor: pointer;
}

.recordContainer:nth-child(n) {
  border-right: var(--outlines) 1px solid;
}

.recordContainer:last-child {
  border-right: none;
}