.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  background-color: var(--header-background-color);
  block-size: 80px;
  border-bottom: var(--outlines) 2px solid;
  position: sticky;
  inset-block-start: 0;
  box-shadow: 0 0.5px 0.5px var(--outlines);
}

