.button {
  outline: none;
  border: var(--outlines) 1px solid;
  border-radius: 15px;
  block-size: 50px;
  inline-size: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  background-color: var(--button-background-color);
  font-family: var(--main-font);
  color: var(--font-color);
}

.button:hover {
  background-color: var(--outlines);
}

.choosenButton {
  background-color: var(--choosen-background-color);
}

.choosenButton:hover {
  background-color: var(--choosen-background-color);
}

.button:disabled {
  background-color: var(--disabled-background);
  color: var(--disabled-color);
  cursor:auto;
}

.print {
  cursor: auto;
}

.print:hover {
  background-color: var(--button-background-color);
}