.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-start: 10px;
  padding-block-end: 10px;
  border-top: var(--outlines) 2px solid;
  border-bottom: var(--outlines) 2px solid;
}